.container {
    min-height: 91vh;
    height: auto;
    margin: 0;
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.card-header{
    margin-bottom: 1em;
}


.about-text{
    margin-top: 1em;
}
